---
layout: webapps 
title: Web Applications
---

<!-- Section Alt-->	
<section class="section-alt is-centered" id="work">
	<div class="container">
		<h2 class="is-bold">WEB APPS</h2>
		<ul class="iconbox-list">
		{% for webapp in site.pages limit: 5 %}
			{% if webapp.type == 'webapp' %}
				<li class="iconbox-item">
					<a target="_blank" href="{{ webapp.source }}">
						<img src="{{ site.baseurl }}{{ webapp.image }}" alt="{{ webapp.image-alt }}">
					</a> 
					<h3>{{ webapp.title }}</h3>
					<p>{{ webapp.meta }}</p>
					<p>Category: <span style="font-weight: 700">{{ webapp.category }}<span></p>
				</li>
			{% endif %}
		{% endfor %}
		</ul>
	</div>
	<div class="container">
		<ul class="iconbox-list">
		{% for webapp in site.pages limit: 3 offset: 5 %}
			{% if webapp.type == 'webapp' %}
				<li class="iconbox-item">
					<a target="_blank" href="{{ webapp.source }}">
						<img src="{{ site.baseurl }}{{ webapp.image }}" alt="{{ webapp.image-alt }}">
					</a> 
					<h3>{{ webapp.title }}</h3>
					<p>{{ webapp.meta }}</p>
					<p>Category: <span style="font-weight: 700">{{ webapp.category }}<span></p>
				</li>
			{% endif %}
		{% endfor %}
		</ul>
	</div>
</section>
