<footer>
	<div class="left-footer">
		<h1>RENATO FRANCIA</h1>
		<ul class="social-links">
			<a href="https://codepen.io/rmfranciacastillo/"><li><i class="fa fa-codepen"></i></li></a>
			<a href="https://github.com/rmfranciacastillo"><li><i class="fa fa-github"></i></li></a>
			<a href="https://www.linkedin.com/in/renatofrancia/"><li><i class="fa fa-linkedin"></i></li></a>
			<a href="https://twitter.com/RenatoFranciaC"><li><i class="fa fa-twitter"></i></li></a>
		</ul>

	</div>
	<div class="middle-footer">
		<h3>LATEST NEWS</h3>
		<ul class="latest-news">
			<li>
				<div class="date">August 28,2018</div>
				<p>Just released the Portfolio theme for free on github</p>
			</li>
			<li>
				<div class="date">August 12,2018</div>
				<p>Landing page theme Available on Github</p>
			</li>
		</ul>
	</div>

	<div class="right-footer is-text-center">
		<h3>Let's build something awesome! </h3>
		<br>
		<br>
		<a	class="btn btn-main"
			target="_blank"
			href="https://calendly.com/rmfranciacastillo/15min/">Schedule a Meeting</a>
	</div>

	<div class="copyright">Web Developer &copy; 2018 </div>
</footer>
