<header class="l-header container is-centered">
	<!-- Background Video --> 
	<div class="fullscreen-video-wrap">
		<video src="{{site.baseurl}}/video/code.mp4" autoplay="true" loop="true"></video>
	</div>
	<div class="header-overlay"></div>

	<!-- Main Navigation --> 
	<nav class="main-nav ">
		<span class="logo "><h3><a href="/index.html">RENATO FRANCIA</a></h3></span>
		<ul class="main-menu ">
			<li class="menu-item"><a href="#services">Services</a></li>
			<li class="menu-item"><a href="#work">Work</a></li>
			<li class="menu-item"><a href="#about">About Me</a></li>
			<li class="menu-item"><a href="#projects">Projects</a></li>
			<li class="menu-item"><a href="#blog">Blog</a></li>
			<li class="menu-item"><a href="#contact">Contact</a></li>
		</ul>
	</nav>
	
   <!--Mobile Navigation -->
   <div class="mobile-navigation ">
	  <i class="fa fa-bars nav-toggle" id="mobile-open"></i>
	  <nav class="main-navigation" id="mobile-menu" role="navigation">
		<span class="nav-toggle" id="mobile-close">X</span>
		<ul>
			<li><a href="#services">Services</a></li>
			<li><a href="#work">Work</a></li>
			<li><a href="#about">About Me</a></li>
			<li><a href="#projects">Projects</a></li>
			<li><a href="#blog">Blog</a></li>
			<li><a href="#contact">Contact</a></li>
			<li>
				<ul class="social-links">
					<h5>Follow Me:</h5>
					<li><a htarget="_blank" ref="https://www.facebook.com/The.Creative.Process.Be.Creative"><i class="fa fa-facebook-official"></i></a></li>
					<li><a htarget="_blank" ref="https://twitter.com/RenatoFranciaC"><i class="fa fa-twitter-square"></i></a></li>
					<li><a htarget="_blank" ref="https://www.instagram.com/renatofrancia/"><i class="fa fa-instagram"></i></a></li>
					<li><a htarget="_blank" ref="https://www.linkedin.com/in/renatofrancia"><i class="fa fa-linkedin-square"></i></a></li>
					<li><a htarget="_blank" ref="https://github.com/rmfranciacastillo"><i class="fa fa-github-square"></i></a></li>
					<li><a htarget="_blank" ref="http://www.thecreativeprocess.co"><i class="fa fa-globe"></i></a></li>
				</ul>
			</li>
		</ul>
	  </nav>
	</div>

	<div class="header-content text-md-center">
		<h1>Renato Francia</h1>
		<p>Welcome to my little bucket of code. Here I put my current projects and talk about code.</p>
	<a class="btn" href="#work">Try my projects</a>
	</div>
</header>

