---
layout: websites
title: Websites Themes
---

<!-- Websites -->
<section class="section is-centered" id="work">
	<div class="container">
		<h2 class="is-bold">WEBSITES</h2>
		<ul class="iconbox-list">
		{% for website in site.websites limit: 3 %}
			<li class="iconbox-item">
				{% if website.source-type == 'link' %}
				<a target="_blank" href="{{ website.source }}">
				{% else %}
				<a target="_blank" href="{{ site.baseurl }}/websites/{{ website.source }}">
				{% endif %}
					<img src="{{ site.baseurl }}{{ website.image }}" alt="{{ website.image-alt }}">
				</a>
				<h3>{{ website.title }}</h3>
				<p>{{ website.meta }}</p>
			</li>
		{% endfor %}
		</ul>
	</div>
</section>
