<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Renato Francia | My little Bucket of Code</title>
    <link href="{{site.baseurl}}/img/favicon.png" rel="icon" type="image/png">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="{{site.baseurl}}/css/lib.min.css">
	<!-- inject:css -->
	<link rel="stylesheet" href="{{site.baseurl}}/css/index.css">
	<!-- endinject -->


	<script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/7b6414fb8788cbfb9f36300db/4135933d40e19d71353a9b0a1.js");</script>

</head>
<body>

	{% include nav.html %}

	{{ content }}

	{% include footer.html %}

    <script src="{{site.baseurl}}/js/lib.min.js"></script>
	<!-- inject:js -->
	<script src="{{site.baseurl}}/js/lib.min.js"></script>
	<script src="{{site.baseurl}}/js/main.js"></script>
	<script src="{{site.baseurl}}/js/otherjs/stuff.js"></script>
	<!-- endinject -->
	<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
</body>
</html>
