<div class="controls">
	<div class="turns">
		<div class="player-turn btn-small btn-empire">Player 1</div>
		<div class="player-turn btn-small btn-rebel">Player 2</div>
	</div>
	<div class="score">
		<div class="player-score">Player1: <span id="pscore0">0</span></div>
		<div class="player-score">Player2: <span id="pscore1">0</span></div>
	</div>
	<div class="reset"><a class="btn-small" id="btn-reset" href="#">RESET</a></div>
	<div class="reset"><a class="btn-small" id="btn-home" href="#">HOME</a></div>
</div>
<div class="grid">
	<div class="cell" id="top-left" >x</div>
	<div class="cell" id="top" >x</div>
	<div class="cell" id="top-right" >x</div>
	<div class="cell" id="middle-left" >x</div>
	<div class="cell" id="middle" >x</div>
	<div class="cell" id="middle-right" >x</div>
	<div class="cell" id="bottom-left" >x</div>
	<div class="cell" id="bottom" >x</div>
	<div class="cell" id="bottom-right" >x</div>
</div>
